* {
  border-radius: 0 !important;
}

body {
  overflow-x:hidden;
}

.times {
  font-family: "Times New Roman", Georgia, Serif;
}

.arial-narrow {
  font-family: "Arial Narrow", Arial, sans-serif;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.header-cta {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 5%;
  margin-right: 5%;
  color: #081527;
  font-size: 4.5em;
}

.header-cta-rectangle {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  font-size: 2em;
  font-weight: 100;
}

.rectangle {
	width: 100%;
	height: 200px;
	background: #9c8d46;
	font-size: 2em;
	color: #081527;
  padding: -5px -5px -5px -5px;
}

.header-cta-subtext {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  font-size: 2em;
  font-weight: 100;
}

.header-cta-subheader {
  font-family: "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 5%;
}

span.highlight {
  background-color: #9c8d46;
}

.header-button {
    background-color: #9c8d46;
    border: none;
    color: #081527;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 10%;
}

.button2 {background-color: #008CBA;} /* Blue */


.my-card {
  margin: 2rem auto;
}

.my-image {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  transition: 0.1s linear;
  background-size: cover;
  background-position: center center;
}

.my-card-title {
  margin-bottom: 1rem;
  font-weight: 900;
}

.trans-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.trans-button4 {
    color: #fff;
    border: 2px solid #e7e7e7;
}

.why-bg-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('/img/background-gradient-map-2.png') no-repeat center center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.service-bg-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('/img/background-gradient-map-2.png') no-repeat center center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
